<%# fields: quote author %>

<div class="type-quote">
  <table><tr>
  <td valign="top"><sub><span class="type-quote-quotation">&ldquo;</span></sub></td>
  <td><%=rl content.quote %>
  <% unless content.author.empty? -%> -- <em><%=rl content.author -%></em><% end -%></td>
  </tr></table>
</div>