<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title>your tumblelog <%= "&raquo; #{params[:tag]}" if params[:tag] %></title>
  <%= stylesheet_link_tag '/stylesheets/theme/tumble', '/stylesheets/theme/types' %>
  <%= javascript_include_tag '/javascripts/theme/theme' %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= auto_discovery_link_tag :atom, {:controller => 'feed',:action => 'atom.xml'}, :title => 'Atom Feed' %>  
</head>
<body>
<div id="main">
  <div id="header">
    <span class="admin">
      <%= link_to 'admin', { :controller => 'admin' }, :rel => 'nofollow' %>
    </span>
    <span class="logo"><a href="/" class="logo">your tumblelog</a></span>
    <span class="ready-set"><span class="quo">&raquo; </span>ready, set, <%= oz_current_tag('tumble') %></span>
  </div>

  <div id="tags">
    <%= oz_popular_tags %>
  </div>
  
  <div id="content">
    <%= yield %> 
  </div>
  
  <div id="footer">
    <div class="powered-by">
      <span class="bracket">{</span>
      <a href="http://ozimodo.rubyforge.org">powered by ozimodo</a>
      <span class="bracket">}</span>
    </div>
    <span class="feeds">
      feed me: 
      <%= link_to 'atom', :controller => 'feeds', :action => 'atom.xml' %>
    </span>
  </div>
</div>
</body>
</html>
