<% if @posts %>

  <%= render :partial => 'post', :collection => @posts %>

<% else %>

  <div id="error-box">
    I tried to find what you're looking for really hard.  No matches, though.  Sorry.
  </div>

<% end %>
