<% partial = "#{RAILS_ROOT}/components/#{TUMBLE['component']}/tumble/types/_#{post.post_type}.rhtml" -%>
<% partial = "#{RAILS_ROOT}/components/#{TUMBLE['component']}/tumble/types/_post.rhtml" unless File.exists?(partial) %>
<%= render_file partial, false, { :content => post.content } %>