<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title>ozimodo::<%= @page_name %></title>
  <%= stylesheet_link_tag 'admin' %>
  <%= stylesheet_link_tag '/stylesheets/theme/types' %>
  <%= javascript_include_tag 'prototype' %>
  <%= javascript_include_tag 'application' %>
</head>
<body<% if params[:action] == 'edit' -%> onload="javascript:changeType();"<% end -%>>

<div id="main" align="center">
  <div id="header">
    <table><tr>
    <td class="bracket">{</td>
    <td class="logo">tumblelog maintenance</td>
    <td class="bracket">}</td>
    </tr></table>
  </div>
  
  <div id="nav">
    <div>
      [ 
      <%= link_to 'posts', :action => :list %> | 
      <%= link_to 'tags', :action => :list_tags %> |
      <%= link_to 'tumble', :action => :new %> | 
      <% if controller.is_admin_user? %> 
        <%= link_to 'users', :action => :users %> |
      <% end %>
      <%= link_to 'password', :action => :password %> |
      <%= link_to 'kill cache', :action => :kill_cache %> | 
      <%= link_to 'tumblelog', :controller => 'tumble', :action => 'list' %> |
      <% if logged_in? -%>
        <%= link_to 'logout', :action => :logout %>
      <% else -%>
        <%= link_to 'login', :action => :login %>
      <% end -%>
      ]
    </div>
    <% if Ozimodo::Plugins.admin_links.size.nonzero? %>
      <div>
        [ 
        <%= Ozimodo::Plugins.admin_links.map { |meth, name| link_to(name, :action => meth)}.join(' | ') %>
        ]
      </div>
    <% end %>
  </div>

  <% if flash[:notice] %>
    <div id="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  
  <div id="content">
    <%= yield %>
  </div>
  
  <div id="footer">
    <div id="version">
      <%= link_to 'v' + OZIMODO_VERSION, :action => 'up_to_date' -%>
    </div>
    <% if logged_in? %>
      hey, <%= current_user[:name] %>.&nbsp;
    <% end %>
    you're on the admin side, where we keep it casual ~ 
    <a href="http://ozimodo.rubyforge.org/">ozimodo</a>
  </div>
</div>

</body>
</html>
