<% if @command  %>
<%= 
   if File.exists?("app/views/api/_#{@command}.rhtml")
     render_partial "api/#{@command}" 
   else 
     "I don't have a help file for #{@command}.  Sorry"
   end 
%><% 
else -%>
You can get help for the various commands available on the tumble log
by using:
$ oz help <command>

This should provide the latest and greatest help for the commands offered
on that ozimodo tumblelog.

To see what commands are offered to you use:
$  oz commands
<% 
end %>
