<%# 
src:
  type: text
  default: http://my.domain.com/images/
alt: text
blurb: textarea
-%>
<div class="type-img">
  <img src="<%= content.src %>" alt="<%= content.alt %>" /><br />
  <%= content.blurb %>
</div>
