<%# 

src:
  type: text
  default: http://ozmm.org/images/typed/
alt: text
blurb: textarea

-%>

<img src="<%= content.src %>" class="type-img" alt="<%= content.alt %>" />
<% unless content.blurb.blank? -%><br/>also: <%= content.blurb -%><% end -%>
