link:
   A segment of text or a graphical item that serves as a cross-reference 
   between parts of a hypertext document or between files or hypertext 
   documents. Also called hotlink, hyperlink.

link options:
  --url http://ozmm.org 
  --tags "more key words"
  --title "the cool title"
