quip: http://dictionary.reference.com/browse/quip
   1. A clever, witty remark often prompted by the occasion.
   2. A clever, often sarcastic remark; a gibe. See Synonyms at joke.
   3. A petty distinction or objection; a quibble.
   4. Something curious or odd.
 
quip options: 
  --title   "the title of the post"
  --content "the main body of your post here"
  --tags "key words"
