quote:
	To repeat or copy the words of (another), usually with acknowledgment of 
  the source.
quote options:
  --title   "the title of the post"
  --author  "I. Zim"
  --quote "GIR, your waffles have sickened me! Fetch the bucket!"
  --tags    "waffle bucket"
